// radio button style
.ul-radio label {
    display: flex !important;
    align-items: center;
    gap: clamp(7px, 0.53vw, 10px);

    .checkmark {
        width: clamp(24px, 1.58vw, 30px);
        aspect-ratio: 1/1;
        border: 1px solid transparent;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        position: relative;

        i {
            opacity: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: clamp(10px, 0.74vw, 14px);
            aspect-ratio: 1/1;
            border-radius: 999px;
            border: 1px solid var(--ul-black);
        }
    }

    input[type=radio] {
        display: none !important;

        &:checked~.checkmark {
            color: var(--black);
            border-color: var(--ul-black);

            i {
                opacity: 1;
            }

            &::before {
                background-color: var(--ul-primary);
                border-color: var(--ul-primary);
            }
        }
    }
}

.ul-btn {
    display: flex;
    align-items: center;
    gap: clamp(7px, 0.53vw, 10px);
    background-color: var(--ul-c3);
    color: var(--ul-primary);
    padding: clamp(8px, 0.84vw, 16px) clamp(20px, 1.68vw, 32px);
    border-radius: 4px;
    font-weight: 600;
    font-size: clamp(13px, 0.84vw, 16px);
    letter-spacing: 0.5px;

    &:hover {
        background-color: var(--ul-primary);
        color: var(--ul-c3);
    }
}

.ul-section {
    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(20px, 1.58vw, 30px);
        margin-bottom: clamp(22px, 2.73vw, 52px);
        // flex-wrap: wrap;

        @include xs {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .right {
            flex-shrink: 0;
        }
    }

    &-sub-title {
        color: var(--ul-secondary);
        border: 1px solid var(--ul-secondary);
        display: inline-flex;
        align-items: center;
        gap: clamp(5px, 0.42vw, 8px);
        padding: clamp(3px, 0.26vw, 5px) clamp(12px, 0.89vw, 17px);
        border-radius: 40px;
        margin-bottom: clamp(5px, 0.42vw, 8px);
        font-family: var(--font-lato);
        font-size: clamp(15px, 0.95vw, 18px);
        font-weight: 600;

        &::after,
        &::before {
            content: "";
            display: inline-block;
            background-color: var(--ul-secondary);
            clip-path: polygon(92.305% 10.683%, 92.305% 10.683%, 88.796% 7.021%, 84.935% 4.125%, 80.804% 1.996%, 76.486% 0.631%, 72.062% 0.031%, 67.614% 0.195%, 63.226% 1.123%, 58.978% 2.814%, 54.953% 5.267%, 51.234% 8.483%, 51.234% 8.483%, 51.013% 8.672%, 50.776% 8.82%, 50.524% 8.925%, 50.264% 8.988%, 50% 9.01%, 49.736% 8.988%, 49.476% 8.925%, 49.224% 8.82%, 48.987% 8.672%, 48.767% 8.483%, 48.767% 8.483%, 45.047% 5.269%, 41.022% 2.819%, 36.774% 1.132%, 32.386% 0.209%, 27.938% 0.049%, 23.514% 0.651%, 19.196% 2.016%, 15.065% 4.143%, 11.204% 7.033%, 7.696% 10.683%, 7.696% 10.683%, 4.789% 14.885%, 2.575% 19.447%, 1.047% 24.277%, 0.197% 29.281%, 0.018% 34.365%, 0.503% 39.434%, 1.643% 44.396%, 3.433% 49.155%, 5.864% 53.62%, 8.929% 57.694%, 43.299% 96.839%, 43.299% 96.839%, 44.473% 97.977%, 45.758% 98.862%, 47.126% 99.494%, 48.549% 99.873%, 50% 100%, 51.451% 99.873%, 52.874% 99.494%, 54.242% 98.862%, 55.527% 97.977%, 56.702% 96.839%, 91.071% 57.694%, 91.071% 57.694%, 94.136% 53.62%, 96.567% 49.155%, 98.357% 44.396%, 99.497% 39.434%, 99.982% 34.365%, 99.803% 29.281%, 98.954% 24.277%, 97.425% 19.447%, 95.212% 14.885%, 92.305% 10.683%);
            width: clamp(17px, 1.05vw, 20px);
            aspect-ratio: 20/18;
        }

        &::after {
            content: none;
        }
    }

    &-title {
        font-weight: 800;
        font-size: clamp(26px, 2.52vw, 48px);
        color: var(--ul-c4);
        margin-bottom: 0;
        font-family: var(--font-lato);
        letter-spacing: 0.5px;
        margin-bottom: clamp(8px, 0.58vw, 11px);
    }

    &-descr {
        font-size: clamp(13px, 0.84vw, 16px);
        margin-bottom: 0;
        color: var(--ul-gray2);
    }
}


// breadcrumb
.ul-breadcrumb {
    padding: clamp(45px, 5.25vw, 100px) 0;
    text-align: center;
    position: relative;
    z-index: 1;
    background: var(--ul-gradient);
    color: var(--white);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url(../img/breadcrumb-vector.svg) no-repeat;
        background-position: bottom center;
        z-index: -1;
        animation: scaleUpDown 8s linear infinite alternate;
    }

    @keyframes scaleUpDown {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.05);
        }

        100% {
            transform: scale(1);
        }
    }

    &-title {
        font-family: var(--font-lato);
        font-weight: 800;
        font-size: clamp(28px, 3.78vw, 72px);
        color: var(--white);
        line-height: 111%;
        letter-spacing: 0.005em;
        margin-bottom: clamp(13px, 1.21vw, 23px);
    }

    &-nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(13px, 0.84vw, 16px);
        font-weight: 500;
        // gap: clamp(7px, 0.53vw, 10px);
        gap: clamp(5px, 0.53vw, 10px);
        color: var(--white);

        a {
            color: rgba(255, 255, 255, 0.7);

            &:hover {
                color: var(--ul-secondary);
            }
        }

    }

    .separator {
        display: inline-flex;
        font-size: clamp(15px, 0.95vw, 18px);
    }
}


// sidebar
.ul-sidebar {
    position: fixed;
    z-index: 10;
    right: 0;
    height: 100%;
    overflow: auto;
    background: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: 0.4s ease;
    padding: clamp(20px, 1.58vw, 30px) clamp(20px, 1.58vw, 30px);
    // padding-top: 15px;
    max-width: 100%;
    border-left: 1px solid var(--ttRed);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(320px, 22vw, 100%);

    &.active {
        transform: translateX(0);
    }
}

// pagination
.ul-pagination {
    // border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: clamp(25px, 2.63vw, 50px);

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(5px, 0.42vw, 8px);

        a {
            width: clamp(38px, 2.31vw, 44px);
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-weight: 600;
            font-size: clamp(13px, 0.84vw, 16px);
            color: var(--ul-black);
            line-height: 0.7;
            border: 1px solid rgba(67, 67, 67, 0.5);

            &:hover,
            &.active {
                background-color: var(--ul-secondary);
                border-color: var(--ul-secondary);
                color: var(--white);
            }
        }

        .pages {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: clamp(9px, 0.63vw, 12px);
        }

        .prev {
            i {
                transform: rotate(-85deg);
            }
        }
    }
}


// accodion
.ul-single-accordion-item {
    display: grid;
    grid-template-rows: max-content 0fr;
    transition: 0.4s ease;
    padding: clamp(18px, 1.47vw, 28px) clamp(20px, 1.58vw, 30px);
    margin-bottom: clamp(7px, 0.53vw, 10px);
    background: var(--white);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &.open {
        grid-template-rows: max-content 1fr;

        .ul-single-accordion-item {
            &__header i {
                transform: rotate(90deg);
                color: var(--ul-primary);
            }

            &__title {
                color: var(--ul-primary);
            }

            &__body {
                padding-top: clamp(7px, 0.74vw, 14px);
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        cursor: pointer;

        .icon {
            display: inline-flex;
        }

        i {
            transition: transform 0.4s ease;
            display: inline-flex;
            font-size: clamp(17px, 1.05vw, 20px);
        }
    }

    &__title {
        margin-bottom: 0;
        font-weight: 600;
        font-size: clamp(17px, 1.05vw, 20px);
    }

    &__body {
        transition: all 0.4s ease;
        overflow: hidden;

        p {
            line-height: 1.5;
            font-size: clamp(13px, 0.84vw, 16px);
            color: var(--ul-gray);
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1.78;
        }
    }
}

// preloader
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.loader {
    width: clamp(100px, 7.88vw, 150px);
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l11 2s infinite;
}

@keyframes l11 {
    0% {
        background: conic-gradient(var(--ul-primary) 0, #0000 0)
    }

    12.5% {
        background: conic-gradient(var(--ul-primary) 45deg, #0000 46deg)
    }

    25% {
        background: conic-gradient(var(--ul-primary) 90deg, #0000 91deg)
    }

    37.5% {
        background: conic-gradient(var(--ul-primary) 135deg, #0000 136deg)
    }

    50% {
        background: conic-gradient(var(--ul-primary) 180deg, #0000 181deg)
    }

    62.5% {
        background: conic-gradient(var(--ul-primary) 225deg, #0000 226deg)
    }

    75% {
        background: conic-gradient(var(--ul-primary) 270deg, #0000 271deg)
    }

    87.5% {
        background: conic-gradient(var(--ul-primary) 315deg, #0000 316deg)
    }

    100% {
        background: conic-gradient(var(--ul-primary) 360deg, #0000 360deg)
    }
}

.ul-slider-nav {
    // width: 100%;
    left: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    visibility: hidden;

    button {
        width: clamp(46px, 2.94vw, 56px);
        aspect-ratio: 1/1;
        background-color: var(--white);
        border-radius: 999px;
        color: var(--ul-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(17px, 1.05vw, 20px);
        visibility: visible;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);

        &:hover {
            background-color: var(--ul-primary);
            color: var(--white);
        }
    }
}


.ul-slider-action-wrapper {
    display: flex;
    gap: clamp(12px, 1.05vw, 20px);
    align-items: center;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    margin-top: clamp(25px, 3.42vw, 65px);

    button {
        color: var(--white);
        text-transform: uppercase;
        font-size: clamp(13px, 0.84vw, 16px);

        &:hover {
            color: var(--ul-primary);
        }
    }

    .swiper-pagination-progressbar {
        position: relative;
        height: 1px;
        background-color: var(--ul-gray);
        width: clamp(140px, 27.75vw, 528px);

        .swiper-pagination-progressbar-fill {
            background-color: var(--ul-primary);
        }
    }
}

.ul-search {
    &-form-wrapper {
        // @include xl {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        inset: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        opacity: 0;
        transition: 0.3s ease;
        flex-direction: column;
        gap: 20px;
        backdrop-filter: blur(25px);

        &.active {
            opacity: 1;
            pointer-events: all;
        }

        .ul-header-search-form {
            background-color: var(--white);
            max-width: 80%;
        }

        // }

        @include xs {
            .ul-header-search-form {
                max-width: 95%;
            }
        }

        @include xxs {
            .ul-header-search-form {
                flex-direction: column;
                border-radius: 10px;
                height: auto;

                .ss-main {
                    padding: 10px clamp(12px, 1.05vw, 20px);
                }
            }

            .ul-header-search-form-right {
                padding: 10px clamp(18px, 1.31vw, 25px);
            }
        }
    }

    &-closer {
        // position: absolute;
        // top: 30%;
        color: var(--white);
        // left: 50%;
        // transform: translateX(-50%);
        border: 1px solid var(--white);
        border-radius: 50%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px;

        i {
            display: inline-flex;
            font-size: clamp(20px, 1.31vw, 25px);
        }

        &:hover {
            background-color: var(--white);
            color: var(--ul-primary);
        }
    }

    &-form {
        border-radius: 999px;
        border: 1px solid rgba(255, 255, 255, 0.35);
        display: flex;
        height: clamp(48px, 3.15vw, 60px);
        max-width: clamp(534px, 32.53vw, 619px);
        width: 100%;
        font-size: clamp(13px, 0.84vw, 16px);
        width: 95%;

        &-right {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 clamp(18px, 1.31vw, 25px);
            flex-grow: 1;

            input {
                border: none;
                height: 100%;
                width: 100%;
                color: var(--white);

                &::placeholder {
                    color: rgba(255, 255, 255, 0.45);
                }
            }

            button {
                padding: 0;
                padding-top: clamp(0px, 0.42vw, 8px);
                height: 100%;
                flex-shrink: 0;
                font-size: clamp(17px, 1.05vw, 20px);
                color: var(--white);

                .icon {
                    display: inline-flex;

                    @include xs {

                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

// progress bar
.ul-progress {
    &-container {
        width: 100%;
        border: 1px solid var(--ul-primary);
        border-radius: 10px;

    }

    &bar {
        width: 0;
        background-color: var(--ul-primary);
        height: clamp(2px, 0.26vw, 5px);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: clamp(15px, 0.95vw, 18px);
            aspect-ratio: 1/1;
            border: 4px solid var(--ul-primary);
            background-color: var(--white);
            border-radius: 999px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-label {
        position: absolute;
        transform: translate(6px, -25px);
        right: 0;
        font-size: clamp(11px, 0.63vw, 12px);
        font-weight: 700;
        color: var(--ul-primary);
    }
}

.ul-checkbox {
    &-wrapper {
        display: flex;
        align-items: center;
        gap: clamp(7px, 0.53vw, 10px);

        input:checked~.ul-checkbox {
            background-color: var(--ul-primary);
            border-color: var(--ul-primary);

            i {
                opacity: 1;
            }
        }
    }

    & {
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(17px, 1.05vw, 20px);
        aspect-ratio: 1/1;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 4px;
        font-size: 10px;
        color: var(--white);

        i {
            opacity: 0;
        }
    }
}

.ul-time-input-wrapper {
    position: relative;
    z-index: 1;

    i {
        position: absolute;
        z-index: 2;
        right: clamp(12px, 1.05vw, 20px);
        left: clamp(12px, 1.05vw, 20px);
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
    }
}


.ul-2-btn {
    font-weight: 600;
    font-size: clamp(17px, 1.05vw, 20px);
    background-color: var(--ul-2-primary);
    color: var(--white);
    height: clamp(48px, 3.15vw, 60px);
    border-radius: 6px;
    padding: 0 clamp(15px, 1.58vw, 30px);
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &:hover {
        color: var(--white);
        background-color: var(--ul-primary);
    }
}

.ul-2-section-sub-title {
    border: none;
    padding: 0;
    text-transform: uppercase;
}

.ul-2-section-title {
    font-size: clamp(26px, 2.52vw, 48px);
    font-weight: 700;
    color: var(--ul-2-black);
    margin-bottom: clamp(12px, 1.16vw, 22px);
}

.ul-2-section-descr {
    font-size: clamp(13px, 0.84vw, 16px);
    color: var(--ul-2-gray);
    font-weight: 400;
    margin-bottom: 0;
}


// index 4 
.ul-4-btn {
    &:hover {
        >* {
            background-color: var(--black);
        }
    }

    >* {
        background: var(--ul-4-primary);
        transition: 0.3s ease;

        &::after {
            content: none;
        }
    }
}

.ul-4-section {
    &-sub-title {
        color: var(--ul-4-primary);
        font-weight: 700;
        font-size: clamp(12px, 0.74vw, 14px);
        text-transform: uppercase;
        background-color: rgba(238, 71, 25, 0.1);

        &::after {
            content: none;
        }
    }

    &-title {
        font-weight: 800;
        font-size: clamp(25px, 2.52vw, 48px);
    }
}