:root {
    --black: #000;
    --white: #fff;
    --ul-primary: #041C33;
    --ul-secondary: #0D6DFD;
    --ul-c3: #DBE9A1;
    --ul-black: #0F0D1D;
    --ul-gray: #F2F2F2;
    --ul-gray2: #5D6063;
    --ul-gray3: #888A8D;
    --ul-gradient: linear-gradient(90deg, #213C84 0%, var(--ul-primary) 100%);


    --font-primary: "Open Sans", sans-serif;
    --font-lato: "Lato", sans-serif;
}