// app/page.module.scss

.container {
  width: 100%; // Largura máxima da viewport (tela)
  height: 100%; // Altura máxima da viewport (tela)
  margin: 0; // Remove as margens
  padding: 0;
  overflow: hidden; // Evita que o conteúdo crie barras de rolagem
}
