.ul-services {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: var(--ul-gray);

    .ul-section-sub-title {
        &::after {
            content: "";
        }
    }

    &-vectors {
        >* {
            position: absolute;
        }

        .vector-1 {
            max-width: clamp(187px, 12.45vw, 237px);
            top: 0;
            left: 0;
        }

        .vector-2 {
            top: clamp(107px, 7.72vw, 147px);
            right: clamp(61px, 8.46vw, 161px);
            max-width: clamp(61px, 5.83vw, 111px);
        }
    }
}

.ul-service {
    background: var(--white);
    border: 2px solid transparent;
    border-radius: clamp(12px, 0.84vw, 16px);
    padding: clamp(20px, 2.10vw, 40px);
    transition: 0.3s ease;
    position: relative;
    z-index: 1;

    &:hover {
        border-color: var(--ul-secondary);

        .ul-service-icon {
            background-color: var(--ul-secondary);

            svg path {
                fill: var(--white);
            }
        }
    }

    &-icon {
        background-color: var(--ul-gray);
        border-radius: 4px;
        width: clamp(69px, 3.78vw, 72px);
        aspect-ratio: 1/1;
        padding: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: clamp(15px, 1.31vw, 25px);
        transition: 0.3s ease;

        svg {
            path {
                fill: var(--ul-secondary);
            }
        }
    }

    &-title {
        font-family: var(--font-lato);
        font-size: clamp(18px, 1.26vw, 24px);
        font-weight: 800;
        letter-spacing: 0.5px;
        margin-bottom: clamp(4px, 0.32vw, 6px);

        a:hover {
            color: var(--ul-secondary);
        }
    }

    &-descr {
        font-size: clamp(13px, 0.84vw, 16px);
        color: var(--ul-gray2);
        font-weight: 400;
        margin-bottom: clamp(20px, 1.89vw, 36px);
    }

    &-btn {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--ul-primary);
        gap: clamp(5px, 0.53vw, 10px);
        font-size: clamp(13px, 0.84vw, 16px);

        i {
            font-size: 13px;
        }

        &:hover {
            color: var(--ul-secondary);
        }
    }
}



// INDEX-2 SERVICES STYLES
.ul-2-services {
    background-color: var(--ul-gray);

    .ul-section-sub-title {
        &::after {
            content: "";
        }
    }
}

.ul-2-service {
    background-color: transparent;
    padding: clamp(16px, 1.68vw, 32px);
    padding-bottom: clamp(60px, 6.31vw, 120px);
    border-radius: 0;
    border: none;
    border-top: 1px solid rgba(206, 207, 208, 0.32);
    height: 100%;

    @include md {
        padding: clamp(16px, 1.68vw, 32px);
    }

    &:hover {
        border-color: transparent;
        background-color: var(--white);
        border-radius: 16px 16px 0 0;

        @include md {
            border-radius: 16px;
        }

        .ul-service-icon {
            background-color: var(--ul-c3);

            svg path {
                fill: var(--ul-primary);
            }
        }

        .ul-service-btn {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0%);
        }
    }

    .ul-service-icon {
        background-color: var(--white);
    }

    .ul-service-btn {
        opacity: 0;
        pointer-events: none;
        transform: translateY(50%);

        @include md {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0%);
        }
    }
}